<% include ./header.ejs %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">개인적인 게시판</li>
    <li class="breadcrumb-item"><a href="/board/write">추가</a></li>
  </ol>
</nav>

<% contents.forEach( function(content){ %>
<div class="card">
  <div class="card-header">
    <%=content.title%>
  </div>
  <div class="card-body">
    
    <blockquote class="blockquote mb-0">
      <p><%=content.contents%></p>
   
      <button type="button" class="btn btn-info">수정</button>
      <button type="button" class="btn btn-danger">삭제</button>
    </blockquote>
    
  </div>
</div>
 <%});%>

<% include ./footer.ejs %>